// ### General styles ###

body {
  background: url(../images/newyork_bg2.jpg) no-repeat center center fixed;
  background-size: cover;
}

#header {
  height: 3.5em;
}

.headerIn {
  background-color: #10212dc2;
  border-radius: 0.1em;
  box-shadow: 0px 0px 2px black;
  color: #e2e2e2be;
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  margin: 0.1em;
  img {
    position: relative;
    top: 0.15em;
    height: 1.2em;
    width: 7em;
  }
}

.headerOut {
  background-color: #a5a5a5e0;
  box-shadow: 0px 0px 3px black;
}

.container {
  margin: 0;
  padding: 0;
}

a:active {
  cursor: pointer;
}

#test {
  height: 50vh;
}

.card {
  background-color: #a5a5a5e0;
  box-shadow: 0px 0px 2px black;
  img {
    box-shadow: 0px 0px 2px black;
  }
}

.card-text1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #10212de6;
  font-family: "Amatic SC", cursive;
}

.card-text2 {
  font-size: 0.8em;
  color: #10212de6;
}

.card-body {
  background-color: #e2e2e2be;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  border-top: 0.35em solid #a5a5a5e0;
}

.visited {
  font-size: 0.5em;
}

.footerIn {
  background-color: #10212dc2;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 3px black;
  margin: 0.4rem;
  position: relative;
  color: #e2e2e2be;
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 99.7%;
    position: absolute;
    bottom: 0;
    left: 0.1em;
    border-radius: 0.25em;
    opacity: 0.2;
  }
}

.footerOut {
  background-color: #a5a5a5e0;
  height: 16vh;
  border-radius: 0.3em;
  box-shadow: 0px 0px 4px black;
}

#container {
}
#copyright {
}
// ### Media-query to remove section-header-image on mobiles ###

@media screen and (max-width: 766px) {
  .headerIn img {
    display: none;
  }
}
